* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #1e1e1e;
}

.container {
  display: flex;
  flex-flow: row wrap;

  width: 896px;
  height: 896px;
  /* max-height: 896px; */
  border: 1px white solid;
}

.container > * {
  /* flex: 1 1 56px;
  height: 56px; */
  border: 1px white solid;
}

.fired-square {
  background-color: white;
}

.dot {
  position: absolute;
  border: 10px solid gold;
  width: 1px;
  height: 1px;
  border-radius: 50%;
}

.resetGrid {
  order: -1;
}
