* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  /* background-color: hsl(300, 90%, 30%); */
  background-color: #1e1e1e;
}

.container {
  display: flex;
  flex-flow: row wrap;

  min-width: 896px;
  max-width: 900px;
  max-height: 896px;
  max-height: 900px;
  border: 1px white solid;
}

.container > * {
  border: 1px white solid;
}

.fired-square {
  background-color: white;
}

.dot {
  position: absolute;
  border: 6px solid gold;
  width: 1px;
  height: 1px;
  border-radius: 50%;
}

.resetGrid {
  order: -1;
  /* margin-bottom: 10px; */
  width: 150px;
  height: 150px;
  font-size: 25px;
  font-weight: bolder;
  border: outset;
  border-radius: 50%;
}
